<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>scripts.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>scripts.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogin</servlet-name>
        <servlet-class>scripts.adminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employees</servlet-name>
        <servlet-class>scripts.employees</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leavequests</servlet-name>
        <servlet-class>scripts.leaverequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leavetypes</servlet-name>
        <servlet-class>scripts.leavetypes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leaverequests</servlet-name>
        <servlet-class>scripts.leaverequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDController</servlet-name>
        <servlet-class>scripts.CRUDController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogin</servlet-name>
        <url-pattern>/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employees</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leavequests</servlet-name>
        <url-pattern>/leavequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leavetypes</servlet-name>
        <url-pattern>/leavetypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leaverequests</servlet-name>
        <url-pattern>/leaverequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDController</servlet-name>
        <url-pattern>/CRUDController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
</web-app>
