html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
    background: #29293a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.section-title,
.cover-heading {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}


.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#heading{
    position: relative;
    top: 50px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #7afbc4;
}

#welcomemessage{
    text-align: justify;
    text-transform: capitalize;
    color: #fff;
    font-size: 13px;
}

/*navbar*/
#nav-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.masthead {
    padding: 15px;
    position: relative;
    z-index: 2000;
    width: 100%;
    font-family: 'Raleway', serif;
    transition: all .5s ease;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-brand img {
    width: 26px;
    transition: all .5s ease;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 10px;
}

.masthead-nav > li > a {
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #7afbc4;
}

.masthead-brand {
    float: left;
}

.masthead-nav {
    float: right;
}

.masthead {
    position: fixed;
    top: 0;
}

@media (min-width: 768px) {
    .masthead-brand img {
        width: 48px;
    }
    .masthead-nav > li + li {
        margin-left: 20px;
    }
    .masthead-nav > li > a {
        font-size: inherit;
    }
    .section-title {
        font-size: 48px;
        margin: 50px 0 30px 0;
    }
    p {
        font-size: 22px;
    }
}
#apply{
    color: #fff;
}

applicationform{
    color: #fff;
}

.dashboard-box{
  background: #fff;
  border: 1px solid #ddd; 
  margin: 40px 0;
  padding: 40px 20px 0 20px;
}

#dashboard{
    margin: 70px 0;
}
#captiontext{
    color: #fff;
    font-size: 18px;
}

.register-box{
    background: #fff;
    border: 1px solid #ddd; 
    margin: 150px 0;
    padding: 40px 20px 0 20px;
    align-items: center;
}

.labels{
    color: #fff;
    font-size: 15px;
}

#wrapper{
    background: #fff;
    border: 1px solid #ddd; 
    margin: 150px 0;
    padding: 40px 20px 0 20px;
    align-items: center;
    color: #7afbc4;
}


#leave-table{
    margin-top: 120px;
    text-align: left;
}

#leavesoption{
    margin-top: 30px;
    text-align: left;
    font-size: 15px;
}

#approveform{
    display: inline-block;
}

#requeststable{
    color: #7afbc4;
}

.pull-right {
  float: right !important;
}

.icons{
 font-size:25px;
}