html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
    background: #29293a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn,
.section-title,
.cover-heading {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}


.login-box {
  background: #fff;
  border: 1px solid #ddd; 
  margin: 100px 0;
  padding: 40px 20px 0 20px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#heading{
    position: relative;
    top: 50px;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #7afbc4;
}

#welcomemessage{
    text-align: left;
    text-transform: capitalize;
    color: #fff;
}